@charset "utf-8";

/**
*
* -------------------------------------------------
*
* Template : Myfolio - Personal Portfolio Template
* Author : thecodude
* Author URI : http://thecodrops.com
*
* --------------------------------------------------
*
**/

/* Table Of Content
-----------------------------------------------------
01. Common Styles
02. Global classes
    02.1 Button
    02.2 Title
03. Uikit overide
04. Header
    04.1 Navbar
    04.2 Offcanvas Menu
05. Slider
06. Heading Section
07. Boxed Layout
08. Side Menu
09. About Section
11. Contact
12. footer
13. Portfolio Single
14. Blog Single
15. Responsive Media
-----------------------------------------------------
*/

/*-----------------------------------
    01. Common Styles              
-------------------------------------*/

/*Font Family Import*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}
p {
	color: #797979;
	font-family: "Montserrat", sans-serif;
	font-weight: normal;
	line-height: 26px;
	font-size: 15px;
}
.clr {
	clear: both;
}
section {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*-------------------------
    02. Global classes
---------------------------*/
.sec-color {
	background-color: #f9f9f9;
}
.bg-white {
	background-color: #fff;
}
.bg-black {
	background-color: #232323;
}
.bg-white-transparent {
	background-color: rgba(255, 255, 255, 0.9) !important;
}
.bg-gray {
	background-color: #f3f3f3;
}
.bg-pattern1 {
	background-image: url(../images/bg/p1.png);
}
.bg1 {
	background-image: url(../images/bg/bg1.jpg);
}
.bg2 {
	background-image: url(../images/bg/bg2.jpg);
}
.bg3 {
	background-image: url(../images/bg/bg3.jpg);
}
.white-color {
	color: white !important;
}
.gray-color {
	color: rgba(255, 255, 255, 0.7) !important;
}
.global-link-color {
	color: #6766db;
}
.black-color {
	color: #232323 !important;
}
.bg-fixed {
	background-attachment: fixed;
}
.sec-spacer {
	padding: 100px 0;
}
.spacer1 {
	height: 20px;
}
.spacer2 {
	height: 45px;
}
.spacer3 {
	height: 60px;
}
.spacer4 {
	height: 80px;
}
.no-margin {
	margin: 0 !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt25 {
	margin-top: 25px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt45 {
	margin-top: 45px !important;
}
.mt60 {
	margin-top: 60px !important;
}
.mt80 {
	margin-top: 80px !important;
}
.mt100 {
	margin-top: 100px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb25 {
	margin-bottom: 25px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}
.mb45 {
	margin-bottom: 45px !important;
}
.mb60 {
	margin-bottom: 60px !important;
}
.mb80 {
	margin-bottom: 80px !important;
}
.mb100 {
	margin-bottom: 100px !important;
}
.b-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.scroll-bottom {
	display: inline-block;
	border: 1px solid #ddd;
	height: 70px;
	width: 70px;
	font-size: 26px;
	line-height: 70px;
	text-align: center;
	border-radius: 50%;
}

/*--------------------------
    02.1 Button
---------------------------*/
.readon {
	position: relative;
	background: transparent;
	text-align: center;
	min-width: 150px;
	padding: 13px 20px;
	border-radius: 4px;
	font-size: 14px;
	display: inline-block;
	z-index: 1;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #7571c8);
	color: #fff;
}
.readon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #4746b1;
	border-radius: 4px;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s, background 0.4s;
	transition: transform 0.4s, opacity 0.4s, background 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.readon,
.readon:before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.readon:hover {
	color: #fff;
	text-decoration: none;
	box-shadow: 0 8px 50px 0 rgba(84, 84, 120, 0.3);
}
.readon:hover:before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.readon.white {
	color: #fff;
	border-color: #fff;
}
.readon.white:hover {
	color: #999;
}
.readon.white:hover:before {
	background: #fff;
}
.readon.pill {
	border-radius: 40px;
}
.readon.pill:before {
	border-radius: 40px;
}

/*--------------------------
    02.2 Title
---------------------------*/
.title1 {
	position: relative;
	padding-bottom: 15px;
	text-rendering: optimizeLegibility;
}
.title1:before {
	position: absolute;
	content: "";
	bottom: -2px;
	height: 2px;
	width: 100px;
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #fff);
}
.title-center {
	text-align: center;
}
.title-center:before {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

/*-------------------------
    03. Uikit overide
---------------------------*/
.tc-dotnav > * {
	padding-left: 10px;
}
.tc-dotnav > * > * {
	width: 8px;
	height: 8px;
	border-radius: 6px;
	-webkit-transition: all 0.3s cubic-bezier(0.76, 0.29, 0.77, 0.3);
	transition: all 0.3s cubic-bezier(0.76, 0.29, 0.77, 0.3);
}
.tc-dotnav.tc-dotnav > * > :active,
.tc-dotnav > .uk-active > * {
	width: 30px;
}
.uk-progress {
	overflow: visible;
	margin: 45px 0px;
}
.uk-progress-bar {
	position: relative;
	background: #6766db;
}
.uk-progress-bar > span {
	position: absolute;
	top: -24px;
	color: #444;
	font-weight: 600;
}
.uk-progress-bar > span.name {
	left: 0;
}
.uk-progress-bar > span.percent {
	right: 0;
}
.uk-navbar-brand,
.uk-navbar-content,
.uk-navbar-toggle {
	height: 80px;
}
.tc-accordion h3 {
	padding: 12px 40px 12px 18px;
	background: rgba(50, 50, 50, 0.1);
}
.uk-button {
	border: 1px solid rgba(30, 30, 30, 0.04);
}
.uk-modal-dialog-lightbox .uk-modal-caption {
	bottom: 0;
	margin-bottom: 0;
	background: rgba(240, 240, 240, 0.7);
	color: #222;
	padding: 10px;
	text-transform: uppercase;
}
.uk-modal-dialog .uk-close {
	color: rgba(255, 255, 255, 0.9) !important;
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #7571c8);
	top: 0 !important;
	right: 0 !important;
	border-radius: 0;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 20px;
	font-weight: 300;
}
.uk-slidenav-position .uk-slidenav {
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #7571c8);
	border-radius: 50%;
	color: #fff;
	font-size: 26px;
	height: 54px;
	width: 54px;
	line-height: 54px;
}
.uk-slidenav-position .uk-slidenav:hover:hover {
	background-color: rgba(0, 0, 0, 1);
}
.uk-slidenav-position .uk-slidenav-next:before {
	left: 4px;
	position: relative;
}

/*--------------------------
    04. Header
---------------------------*/
.tc-header {
	position: absolute !important;
	max-width: 100%;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
}
.tc-header .uk-sticky-placeholder .tc-top-block.uk-active {
	background: #fff;
	-webkit-box-shadow: 0 8px 20px 0 rgba(84, 84, 120, 0.1);
	box-shadow: 0 8px 20px 0 rgba(84, 84, 120, 0.1);
	z-index: 11;
}
.tc-header .tc-navbar .uk-navbar-nav > li > a {
	font-weight: 600;
	letter-spacing: 1px;
	height: 80px;
	line-height: 80px;
	cursor: pointer;
	font-size: 13px;
	z-index: -1;
}
.tc-header .tc-navbar .uk-navbar-nav > li > a:after {
	content: "";
	position: absolute;
	right: 10px;
	top: 24px;
	height: 2px;
	width: 0;
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #7571c8);
	-webkit-transition: width 0.3s ease;
	transition: width 0.5s ease;
}
.tc-header .tc-navbar .uk-navbar-nav > li > a:hover:after,
.tc-header .tc-navbar .uk-navbar-nav > li.uk-active > a:after {
	width: 22px;
}
.tc-header .tc-navbar .uk-navbar-nav > li .uk-dropdown-navbar {
	background: #fff;
	-webkit-box-shadow: 0 8px 20px 0 rgba(84, 84, 120, 0.1);
	box-shadow: 0 8px 20px 0 rgba(84, 84, 120, 0.1);
}
.tc-header .tc-logo {
	float: left;
	line-height: 80px;
}
.tc-header .tc-logo a {
	font-size: 18px;
	text-transform: uppercase;
	background-color: #6766db;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	line-height: 34px;
	padding: 0 15px;
	border-radius: 2px;
}
.header-style2 {
	background: transparent;
}
.header-style2 .tc-navbar .uk-navbar-nav > li > a:after {
	position: absolute;
	content: "";
	height: 1px;
	width: 0;
	background-color: rgba(255, 255, 255, 0.5);
	left: 10px;
	bottom: 25px;
	margin-top: -10px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.header-style2 .tc-navbar .uk-navbar-nav > li:hover > a:after {
	width: 40%;
}
.header-style2 .tc-navbar .uk-navbar-nav > li.uk-active > a:after {
	width: 70%;
}
.tc-off-toggle {
	float: right;
	font-size: 26px;
	padding-right: 0;
	color: #6766db;
	font-weight: 300;
}
.tc-off-toggle:hover,
.tc-off-toggle:focus {
	color: #6d6cef;
}

/*--------------------------
    04.1 Navbar
---------------------------*/
.tc-navbar {
	background: transparent;
	text-align: center;
}
.tc-navbar .uk-navbar-nav {
	float: right;
}
.tc-navbar .uk-navbar-nav > li {
	float: none;
	display: inline-block;
}
.tc-navbar .uk-navbar-nav > li > a {
	padding: 0 10px;
	background: transparent;
	font-size: 11px;
	text-transform: uppercase;
}
.tc-header .uk-navbar-nav div.uk-dropdown {
	text-align: left;
}
.tc-navbar .uk-navbar-nav > li .uk-dropdown-navbar {
	padding: 18px 30px;
	margin-top: 3px;
}
.tc-navbar .uk-dropdown-navbar .uk-nav > li > a {
	font-size: 12px;
	color: #444;
	text-transform: uppercase;
	padding: 5px 12px;
	background: transparent;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.tc-navbar .uk-nav-navbar > li > a:focus,
.tc-navbar .uk-nav-navbar > li > a:hover {
	color: #fff;
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #7571c8);
}

/*--------------------------
    04.2 Offcanvas Menu
---------------------------*/
#tc-offcanvas .uk-nav-offcanvas {
	margin: 50px 0;
}
#tc-offcanvas .uk-offcanvas-bar {
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #7571c8);
}
#tc-offcanvas .uk-nav-offcanvas > li > a {
	color: rgba(255, 255, 255, 0.7);
	padding: 12px 20px;
	background-color: transparent;
	font-size: 14px;
	text-transform: uppercase;
}
#tc-offcanvas .uk-nav-offcanvas > li:nth-child(n + 2) > a {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#tc-offcanvas ul.uk-nav-sub {
	padding: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#tc-offcanvas .uk-nav-sub li a {
	padding: 12px 30px;
}
#tc-offcanvas .uk-nav-sub li:nth-child(n + 2) > a {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*--------------------------
    05. Slider
---------------------------*/
.tc-slider {
	overflow: hidden;
	position: relative;
}
#particles-js {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.tc-slider .uk-slideshow li .uk-cover-background {
	z-index: -1;
}
.sldr-title-large {
	font-size: 64px;
	line-height: 1.3;
	z-index: 999;
}
.sldr-para25 {
	font-size: 25px;
	line-height: normal;
}
.sldr-title-medium {
	font-size: 36px;
	line-height: normal;
}
.tc-slider .readon.large {
	padding: 20px 26px;
	font-size: 18px;
}
.tc-slider .down-arrow {
	position: absolute;
	bottom: 70px;
	left: 50%;
	margin-left: -35px;
	-webkit-animation-name: uk-fade-top;
	-webkit-animation-duration: 1.6s;
	-webkit-animation-iteration-count: infinite;
	animation-name: uk-fade-top;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
}
.tc-slider .down-arrow a {
	color: #fff;
	display: block;
	z-index: 1;
	font-size: 14px;
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #7571c8);
}

/*--------------------------
    06. Heading Section
---------------------------*/
.tc-heading {
	padding: 150px 0;
	text-align: center;
}
.tc-heading .head-title {
	margin-bottom: 10px;
	word-break: break-word;
}
.tc-breadcrumb {
	color: #999;
	padding-left: 0;
	margin: 0;
	font-size: 15px;
}
.tc-breadcrumb li {
	display: inline-block;
	list-style-type: none;
	position: relative;
}
.tc-breadcrumb li + li {
	padding-left: 12px;
	margin-left: 5px;
}
.tc-breadcrumb li + li:before {
	content: "\f105";
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: FontAwesome;
}
.tc-breadcrumb li a {
	color: #bbb;
}

/*--------------------------
    07. Boxed Layout
---------------------------*/
.layout-boxed .layout-wrap {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	z-index: 1;
}

/*--------------------------
    08. Side Menu
---------------------------*/
.tc-sidebar-menu {
	z-index: 999;
	position: fixed;
	top: 50%;
	left: 50px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.tc-sidebar-menu .uk-dotnav > * > * {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	color: #444;
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #7571c8);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-decoration: none;
}
.tc-sidebar-menu .uk-dotnav > .uk-active > * {
	height: 30px;
}
.tc-sidebar-menu .uk-dotnav > li a span {
	margin-left: 30px;
	background: #fff;
	padding: 8px 15px;
	font-size: 13px;
	border-radius: 2px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: visible;
	font-weight: 600;
	opacity: 0;
}
.tc-sidebar-menu .uk-dotnav > li a:hover span {
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tc-sidebar-menu .uk-dotnav > li a:hover {
	overflow: visible;
}

/*--------------------------
    09. About Section
---------------------------*/
.tc-about h2 {
	font-size: 38px;
	line-height: 53px;
}

/*-------------------------
    11. Contact
---------------------------*/
.tc-contact .form-field {
	margin-bottom: 31px;
}
.tc-contact .form-field input {
	background: transparent !important;
	width: 100%;
	height: 50px;
	padding: 5px 20px;
	font-size: 14px;
	border: 0;
	box-shadow: 0 3px 10px rgba(34, 34, 34, 0.1);
	border-radius: 4px;
}
.tc-contact .form-field textarea {
	background: transparent;
	width: 100%;
	padding: 15px;
	font-size: 15px;
	border: 0;
	box-shadow: 0 3px 10px rgba(34, 34, 34, 0.1);
	border-radius: 4px;
}
.tc-contact .form-field input:focus,
.tc-contact .form-field textarea:focus {
	border-color: rgba(0, 0, 0, 0.4);
	outline: none;
}
.tc-contact .form-button {
	text-align: center;
	margin-top: 15px;
}
.tc-contact .form-button button {
	line-height: normal;
	height: 50px;
	cursor: pointer;
	min-width: 193px;
	text-transform: uppercase;
	outline: none;
	border: 0;
}
.tc-contact .contact-info {
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.05);
	padding: 45px 35px;
	border-radius: 4px;
}
.tc-contact .contact-info i {
	font-size: 42px;
	display: inline-block;
	color: #777;
}
.tc-contact .contact-info p {
	margin-top: 15px;
	margin-bottom: 0;
	color: #999;
	font-size: 17px;
}

/*--------------------------
    12. footer
---------------------------*/
.tc-footer {
	position: relative;
	padding-top: 50px;
	padding-bottom: 45px;
	font-size: 14px;
	color: #999;
}
.tc-footer .uk-subnav > * {
	margin-top: 0;
}
.tc-footer .uk-subnav a {
	color: #999;
}
.tc-footer .uk-subnav a:hover,
.tc-footer .uk-subnav a:active,
.tc-footer .uk-subnav a:focus {
	color: #444;
	text-decoration: underline !important;
}
.tc-footer .tc-totopscroll {
	position: absolute;
	z-index: 11;
	top: 50%;
	left: 50%;
	height: 36px;
	width: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #7571c8);
	color: #fff;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.tc-footer .tc-totopscroll:hover {
	background: #6968fb;
}
.tc-footer .tc-totopscroll i {
	margin-left: 2px;
}

/*--------------------------
    13. Portfolio Single
---------------------------*/
.tc-portfolio-single {
	padding: 100px 0;
}
.tc-portfolio-single .ps-info {
	margin: 35px 0;
}
.tc-portfolio-single .ps-info .ps-title {
	font-size: 26px;
	line-height: 1.3;
}
.tc-portfolio-single .ps-extra-fild-item + .ps-extra-fild-item {
	margin-top: 25px;
}
.tc-portfolio-single .ps-extra-fild-item h5 {
	margin-bottom: 0;
	font-size: 15px;
	font-weight: 700;
}
.tc-portfolio-single .ps-extra-fild-item p {
	margin: 0;
	font-size: 13px;
}
.tc-portfolio-single .ps-extra-fild-item a {
	display: inline-block;
	font-size: 13px;
	color: #444;
	padding-right: 10px;
}

/*--------------------------
    14. Blog Single
---------------------------*/
.tc-blog-single {
	padding: 100px 0;
}
.tc-blog-single .bs-info {
	margin-top: 40px;
}
.tc-blog-single .bs-title {
	font-size: 28px;
	line-height: 1.2;
	margin-bottom: 5px;
}
.blockquote {
	padding-left: 30px;
	border-left: 5px solid #444;
	display: block;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}
.tc-blog-single .bs-meta {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 13px;
	color: #888;
}
.tc-blog-single .bs-meta li {
	display: inline-block;
	line-height: 10px;
}
.tc-blog-single .bs-meta li + li {
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid #ddd;
}
.tc-blog-single .bs-meta li a {
	color: #888;
}
.tc-blog-single .related-post .blog-content {
	text-align: left;
}
.author-block {
	padding: 35px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.author-block h3 {
	margin-bottom: 7px;
	margin-top: 4px;
}
.author-block a {
	color: #666;
}
.comment-block .uk-comment {
	padding: 25px;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 35px;
}
.comment-block .uk-comment .comment-reply a {
	color: #777;
}
.ps-navigation {
	padding: 0;
	margin-top: 80px;
	list-style-type: none;
}
.ps-navigation li:first-child {
	float: left;
}
.ps-navigation li:last-child {
	float: right;
}
.ps-navigation a {
	color: #777;
	font-size: 16px;
}
.tc-search .search {
	width: 100%;
	height: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	border: none;
	padding: 5px 15px;
	outline: none;
	background: #fff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.tc-search .uk-search {
	position: relative;
}
.tc-search .uk-search:after {
	content: "\f002";
	font-family: fontAwesome;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
}
.tc-caterories ul {
	padding-left: 0;
	list-style-type: none;
}
.tc-caterories ul li + li {
	padding-top: 12px;
	margin-top: 12px;
	border-top: 1px solid #f5f5f5;
}
.tc-caterories ul li a {
	color: #777;
}
.tc-latest-post .post-item + .post-item {
	margin-top: 35px;
}
.tc-latest-post .post-desc {
	padding: 15px;
}
.tc-latest-post .post-desc .title {
	display: block;
	font-size: 16px;
	color: #444;
	line-height: 1.4;
}
.tc-latest-post .post-desc span {
	display: block;
	font-size: 11px;
	color: #888;
	line-height: 1.2;
}
.tc-tags a {
	display: inline-block;
	margin: 0 3px 7px 0;
	line-height: 20px;
	padding: 4px 12px;
	font-size: 11px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-decoration: none;
	background: #6766db;
	background-image: linear-gradient(135deg, #605cee, #7571c8);
	color: #fff;
	border-radius: 3px;
}
.tc-tags a:hover {
	opacity: 0.8;
}

/*-----------------------------
    15. Responsive Media
-------------------------------*/
@media (min-width: 960px) {
	.uk-grid-divider
		> [class*="uk-width-large-"]:not(.uk-width-large-1-1):nth-child(n + 2) {
		border-left: 1px solid rgba(221, 221, 221, 0.2);
	}
	.sec-divider {
		position: relative;
		z-index: 10;
	}
	.sec-divider:before {
		position: absolute;
		content: "";
		height: 100%;
		width: 48%;
		background-color: rgba(0, 0, 0, 0.04);
		z-index: -1;
		top: 0;
		left: 0;
	}
}
@media (max-width: 767px) {
	.sppb-addon-image-content .sppb-image-holder {
		position: inherit;
		width: 100% !important;
		height: 300px;
	}
	.tc-footer {
		font-size: 11px;
	}
	.tc-footer .tc-totopscroll {
		left: auto;
		right: 0;
	}
	.tc-slider {
		zoom: 0.7;
	}
}
@media (max-width: 420px) {
	.tc-footer .tc-totopscroll {
		top: 0;
	}
	.tc-slider {
		zoom: 0.6;
	}
	.sldr-title-large {
		font-size: 36px;
		line-height: 1.3;
	}
	.sldr-para25 {
		font-size: 13px;
		line-height: normal;
	}
	.sldr-title-medium {
		font-size: 24px;
		line-height: normal;
	}
}
